<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Here's the index page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Fruits Index Page</h1>
    <ul>
        <% for(let i = 0; i < fruits.length; i++){%>
            <li> 
            <%=fruits[i].name %>  
            <%=fruits[i].color %> 
            <% if(fruits[i].readyToEat){%>
                Ready to Eat
             <% } else { %>
                 Not Ready to Eat
             <% } %> 
             <!-- This is where our Delete form will go -->
                <form action="/fruits/<%= fruits[i].id %>?_method=DELETE" method="POST">
                <input type="submit" value="Remove" />
             </li>
        <%} %>
    </ul>
    
</body>
</html>