<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create A Fruit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Create-A-Fruit</h1>
    <form action="/fruits" method="POST">
        Name:
        <input type="text" name="name" />
        Color:
        <input type="text" name="color" />
        Ready to eat?:
        <input type="checkbox" name="readyToEat" />
        <input type="submit" value="Add New Fruit" />
</body>
</html>